<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kingbart.radicallydifferent">

    <application
        android:allowBackup="true"
        android:icon="@drawable/prototype5"
        android:label="@string/app_name"
        android:roundIcon="@drawable/prototype5"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AppWelcomeActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AppIntroActivity" />
        <activity android:name=".RecyclerViewActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EntryActivity" />
        <activity android:name=".MatchingIntroActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MatchingReadMeActivity" />
        <activity
            android:name=".MatchingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RoadTripReadMeActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RoadTripIntroActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoadTripActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".animationactivities.YouWin"
            android:screenOrientation="landscape" />
        <activity
            android:name=".animationactivities.TryAgain"
            android:screenOrientation="landscape" />
        <activity android:name=".PuzzleIntroActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PuzzleActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".PuzzleReadMeActivity" />
    </application>

</manifest>